
weatherapi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
weatherapi/obj/Debug/net5.0/weatherapi.AssemblyInfo.cs
weatherapi/obj/Debug/net5.0/weatherapi.assets.cache
*.cache
weatherapi/obj/Debug/net5.0/weatherapi.GeneratedMSBuildEditorConfig.editorconfig
